html,
body {
    height: 100%;
}
body{
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    color: #000;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Cormorant Garamond', serif;
}
@media(max-width:400px) {
    h2{
        font-size: 26px;
    }
    .word-break{
        word-break: break-all;
    }
}

/*

Extra small (<544px) .col-xs-
Phones (≥544px) .col-sm-
Tablets (≥768px) .col-md-
Desktops (≥992px) .col-lg-
Desktops (≥1200px) .col-xl-
*/

.wrap {
    /*min-height: 100%;*/
    min-height: calc(100vh - 200px);
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    /*background-color: #f5f5f5;*/
    /*border-top: 1px solid #ddd;*/
    /*padding-top: 20px;*/
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

a{
    transition: color .3s ease;
}
/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

ul{
    list-style: none;
    padding: 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:767px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}

.section{
    padding: 40px 0;
}
.section_light{
    /*color: #fff;*/
}
.bg_dark{
    background: rgba(0, 0, 0, .6);
    padding: 40px 0;
    color: #fff;
    text-shadow: 0 0 6px #000;
}
.section_big .bg_dark{
    transform: translateY(-50%);
}
.bg_dark h2{
    font-size: 31px;
}
.bg_dark h4,
.bg_dark p{
    font-size: 28px;
}
@media(max-width:400px) {
    .bg_dark{
        padding: 20px 0;
    }
    .bg_dark h2{
        font-size: 24px;
    }
    .bg_dark h4,
    .bg_dark p{
        font-size: 18px;
    }
}


.tac{
    text-align: center;
}
.align-left{
    text-align: left;
}
.uppercase{
    text-transform: uppercase;
}
.vertical-middle-item{
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
@media(min-width:992px) {
    .col-lg-1-5{
        width: 20%;
    }
}

/*MENU*/
.navbar-inverse{
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
}
.nav-main-page.navbar-inverse.nav-transparent{
    background: transparent;
    border-color: transparent;
    font-size: 24px;
    opacity: 1;
    transition: opacity .7s ease;
}

@media(min-width:768px) {
    .lang{
        padding-top: 5px;
        float: right;
    }
    .lang-item{
        width: 35px;
    }
}
@media(max-width:767px) {
    .navbar-nav{
        text-align: center;
    }
    /*.navbar-inverse.nav-transparent .navbar-collapse.collapse.in{*/
    .nav-main-page.navbar-inverse.nav-transparent{
        background: rgba(0, 0, 0, .7);
    }
}

.nav-main-page.navbar-inverse{
    top: 0;
    transition: top .4s ease;
}

.nav-main-page.navbar-inverse.nav-transparent.fade{
    opacity: 0;
    top: -200%;
    transition: top .3s ease;
}
.navbar-inverse.nav-transparent .navbar-nav > li > a{
    color: #fff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    background: transparent;
}
.navbar-brand{
    width: 100px;
    height: 50px;
    padding: 5px;
}
.nav-transparent .navbar-brand{
    width: 120px;
    height: 60px;
}
.navbar-brand img{
    width: 100%;
    height: auto;
}
@media only screen and (max-width : 500px) {
    .nav-transparent .navbar-brand{
        width: 100px;
        height: 50px;
        padding: 5px;
    }
}

.nav-transparent.navbar-inverse .navbar-toggle{
    border-color: rgba(255, 255, 255, .3);
}
.nav-transparent.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}
.nav-transparent.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #333;
}

/*MENU PAGES*/
.navbar-inverse{
    background: #fff;
    border-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
}
.navbar-inverse .navbar-collapse{
    border-color: rgba(0,0,0,0.2);
}
.navbar-inverse .navbar-nav > li > a{
    /*font-family: 'Cormorant', serif;*/
    /*font-weight: 400;*/
    /*font-size: 22px;*/
    color: #333E48;
    transition: color .3s ease;
}
.navbar-inverse.nav-transparent .navbar-nav > .active > a,
.navbar-inverse.nav-transparent .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover{
    color: #449d44;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #333;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgba(150, 150, 150, .1);
}
/*END MENU*/

/*VIDEO*/
.bg_move {
    position:absolute;
    z-index:1;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}
.bg_move:before{
    content: "";
    display: block;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .2);
}
.bg_move_wrapper {
    position: relative;
    z-index:2;
    height: 100vh;
    overflow: hidden;
}
/*@media only screen and (max-width : 991px) {*/
@media only screen and (max-width : 767px) { /*for tablet*/
    .bg_move video{
        display: none;
    }
    .bg_move{
        background: url("../img/background/video-poster.jpg") 20% 85% no-repeat;
    }
}
/*END VIDEO*/

/*BANNER*/
.banner__text{
    position: absolute;
    left:0;
    right: 0;
    top: 50%;
    text-align: center;
    color: #fff;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 40px;
    z-index: 5;
    text-shadow: 1px 1px 2px #000;
    font-family: 'Cormorant Garamond', serif;
}
.banner__title{
    font-size: 50px;
    word-spacing: 12px;
}
@media(max-width:400px) {
    .banner__title{
        font-size: 40px;
    }
    .banner__text{
        font-size: 30px;
    }
}
/*END BANNER*/

/*FOOTER*/
.footer__socials{
    text-align: center;
}
.footer__socials li{
    display: inline-block;
}
.footer__icon-wrapper{
    display: block;
    width:30px;
    height:30px;
    padding: 2px;
}
.footer__icon{
    width:26px;
    height:26px;
    fill: #666;
}
.footer__icon-wrapper:hover .footer__icon{
    fill: #333;
}
.copyrights{
    color: #555;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.rights{
    color: #555;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
}
.links__menu .links__all-articles{
    margin: 15px auto 10px;
}
.links__angle-right{
    fill: #4cae4c;
    width: 10px;
    height:25px;
    margin-right: 5px;
    transform: translateY(5px);
}
/*END FOOTER*/


.light-g{
    background: url(../img/background/light-grey.png);
}
.icon-wrapper{
    padding-bottom: 20px;
    display: block;
}
.icon-wrapper{
    color: #555;
    transition: color .3s ease;
}
.icon-wrapper:hover,
.icon-wrapper:focus{
    color: #333;
    text-decoration: none;
}
.icon-wrapper:hover .icon-gray{
    fill: #666;
}
.socials .icon-wrapper{
    padding-bottom: 50px;
}
.icon-gray{
    fill: #999;
    width: 90px;
    height: 90px;
    transition: fill .3s ease;
}
.icon-gray_big{
    width: 104px;
    height: 104px;
    transform: translateY(-10px);
}
.icon-gray_biger{
    width: 104px;
    height: 104px;
    transform: translateY(-10px);
}
.icon-gray_biger + h3{
    margin-top: 5px;
}
@media only screen and (max-width : 767px){
    .socials .icon-gray{
        width: 70px;
        height: 70px;
    }
}

/*WE ARE*/
.we-are__btn{
    padding-top: 50px;
    position: absolute;
    left: 50%;
    top: -124px;
    z-index: 20;
    width:116px;
    height:146px;
    transform: translate(-50%);
}
.we-are__btn img{
    width:116px;
    height:146px;
}
.we-are{
    padding-top: 120px;
    position: relative;
}
.we-are__title{
    font-size: 26px;
    color: #555;
}
@media only screen and (min-width : 992px) {
    .we-are__title{
        padding: 0 30px 30px;
        font-size: 34px;
    }
}

/*ADVANTAGES*/
.icon-title{
    font-size: 30px;
}
@media only screen and (min-width : 992px) {
    .icon-title{
        padding: 0 40px;
    }
}
/*END ADVANTAGES*/

/*GOOD*/
.good{
    padding: 150px 0;
}
@media(max-width:400px) {
    .good{
        padding: 50px 0;
    }
}
/*END GOOD*/
.your-success{
    /*background: url(../img/background/your-success_s.jpg) 50% no-repeat;*/
    -webkit-background-size:cover;
    background-size:cover;
    color: #fff;
}
.your-success__column{
    /*padding: 100px 0;*/
}
.your-success__column p{
    margin-top: 15px;
    font-size: 24px;
    line-height: 28px;
}
@media(max-width:767px) {
    /*.your-success {*/
        /*background: url(../img/background/your-success_s.jpg) 100% 50% no-repeat;*/
    /*}*/
    .your-success__column{
        padding: 50px 15px;
    }
}
@media(max-width:400px) {
    .your-success__column{
        padding: 20px 15px;
    }
}

.socials__title{
    padding-bottom: 30px;
}

.breadcrumb{
    margin-bottom: 10px;
}

.section_after-light-menu{
    padding: 100px 0 150px;
    padding: 60px 0 60px;
}
.section_big{
    min-height: 100vh;
    padding-top: 50vh;
}
/*TESTIMONIALS*/
.testimonials__author{
    color: #14953e;
    font-style: italic;
    padding-top: 30px;
    font-family: 'Hind', sans-serif;
    font-size: 18px;
}
.testimonials__img img{
    border-radius: 50%;
}
.testimonials__blockquote{
    font: 400 16px/24px Arial;
    font-style: italic;
    border-left: 0 solid;
    margin: 0;
    padding: 0;
    color: #999999;
    padding-top: 10px;
}
.section_testimonials nav.testimonials__more-testimonials a{
    font-size: 28px;
}
.testimonials__title{
    color: #14953e;
}
.testimonials .testimonials__link{
    font-size: 20px;
    color: #14953e;
}

.testimonials__vertical-middle-wrapper{
    padding-top: 8%;
}

.testimonials__video iframe{
    width: 100%;
    /*max-width: 560px;*/
    min-height: 240px;
    /*max-height: 315px;*/
}
@media(max-width:380px) {
    .testimonials__video iframe{
        min-height: 200px;
    }
}
@media(min-width:450px) and (max-width:559px) {
    .testimonials__video iframe{
        min-height: 300px;
    }
}
@media(min-width:560px) and (max-width:649px) {
    .testimonials__video iframe{
        min-height: 400px;
    }
}
@media(min-width:650px) and (max-width:767px) {
    .testimonials__video iframe{
        min-height: 450px;
    }
}

@media(min-width:768px){
    .youtube__wrapper iframe{
        height: 260px;
        width: 460px;
        display: block;
        margin: 0 auto;
    }
}
/*END TESTIMONIALS*/


/*PAGE FORM*/
.form-group {
     margin-bottom: 0;
}
.form_big{
    font-size: 150%;
    padding: 20px 0;
}
.input__listbox{
    color: #696969;
    font-size: 26px;
}
.field-artist-manager select{
    font-size: 20px;
    padding: 0 12px;
}
.input__dropdown{
    margin-top: 24px;
}
.field-company-genres .form-control,
.field-artist-genres .form-control {
    font-size: 20px;
    color: #000;
}
.btn_add-exp:focus,
.btn_add-exp:active:focus{
    outline: none;
}
.btn_add-exp{
    padding: 0 10px 30px;
    font-size: 35px;
    height: 37px;
    line-height: 28px;
}
.artist-create__form,
.company-create__form{
    padding-top: 60px;
}
.form_big .btn-success{
    font-size: 18px;
}
.fill-in-form__title{
    text-align: center;
}
.form__experience .row{
    position: relative;
}
.form__experience hr{
    margin: 20px 15px;
}
.btn-close{
    position: absolute;
    width: 15px;
    height: 30px;
    top: 20px;
    right: 15px;
    cursor: pointer;
}
.btn-close:before,
.btn-close:after{
    position: absolute;
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    background: #aaa;
    top: 50%;
    left: 0;
    transition: background .2s ease-in;
}
.btn-close:hover:before,
.btn-close:hover:after{
    background: #555;
}
.btn-close:before{
    transform: rotate(45deg);
}
.btn-close:after{
    transform: rotate(-45deg);
}

.field-employer-role{
    text-align: center;
    color: #444;
}
.field-employer-role label{
    margin: 0 20px;
}

.label_required:after{
    content: '*';
    display: inline;
    color: #696969;
    position: absolute;
    top: 30%;
    right: 0px;
}

.field-contactform-body{
    margin-top: 30px;
}
.field-contactform-body textarea{
    font-size: 30px;
    resize: none;
}

.contacts__link{
    color: #696969;
    font-weight: bold;
    font-size: 0.85em;
}
.contacts__link:hover{
    color: #696969;
}
.contacts__link-column .cl-effect-4 a{
    margin: 0;
}
.form__field-title{
    color: #696969;
    font-weight: bold;
    font-size: 0.85em;
    margin-top: 20px;
}
.contacts__link h3{
    word-spacing: -5px;
}
/*END PAGE FORM*/

/*FOOTER*/
.footer{
    position: relative;
    background: url("../img/background/video-poster.jpg") 20% 85% no-repeat;
    background-size:cover;

}
.footer:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}
.footer__socials{
    position: relative;
    z-index:50;
    padding-top:15px;
}

@media(min-width:768px) {
    .section-thanks {
        padding-top: 45vh;
    }

    .section-thanks__title {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 34px;
        transform: translateY(-50%);
    }
}
/*END FOOTER*/

.section__comments{
    padding: 40px 0 60px;
}
/*#vk_comments{*/
    /*padding-bottom: 20px;*/
/*}*/

/*SIDEBAR*/
.sidebar__title{
    font-size: 20px;
    color: #555;
    margin-bottom: 20px;
}
.sidebar__img img{
    width: 100%;
}
.sidebar__article-title{
    margin-top: 0;
}
.sidebar__article-title a{
    font-size: 21px;
    color: #333;
}
/*END SIDEBAR*/

/*OUR TEAM*/
.team__blockquote-wrapper{
    float: left;
}
.blockquote{
    font-size: 200px;
    color: #449d44;
    line-height: 130px;
    padding-left: 10px;
    float: left;
}
@media(max-width:767px) {
    .team__blockquote-wrapper{
        position: relative;
        padding-top: 50px;
    }
    .blockquote{
        padding-left: 0;
        position: absolute;
        top: -10px;
    }
}
.team__item{
    background: #f0f2f1;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.team__img-wrapper{
    float: left;
    margin: 0 15px 15px 0;
    max-width: 250px;
}
.team__img-wrapper img{
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.team__blockquote{
    padding: 0;
    margin: 0;
    font-size: inherit;
    border-left: 0;
    font-style: italic;
    text-align: justify;
}
.team__cite{
    margin-top: 15px;
    text-align: right;
    display: block;
    font-size: 22px;
}
.team__cite:before{
    content: '- ';
    display: inline;
}
/*END OUR TEAM*/

.agents__contact{
    padding-top: 20px;
    font-size: 30px !important;
}